/* @import "../../../certificationKit/ckit.scss"; */

/**index.wxss**/

.ckitDemoView {
  margin-top: 400px;
  text-align: center;
}

.ckitPageBtn {
  display: block;
  padding: 20px 40px;
  margin-top: 40px;
  background-color:dodgerblue;
  color: white;
  border-radius: 10px;
}
